html,
body {
  height: 100% !important;
  margin: 0;
}
.form-control,
.col-form-label,
.custom-select,
label,
header,
footer {
  font-size: 1rem !important;
  font-weight: 400;
}
.button {
  padding: 0.6rem 2rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  color: #fff;
  background-color: #1b8bec;
  text-decoration: none;
  border: 1px solid #1b8bec;
  justify-content: space-around;
  margin: 10px;
}
.pagecenter {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f2f4;
  width: 45%;
  height: 350px;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5%;
}

form {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px;
  width: 100%;
  color: #3f84e5;
}
.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
.col-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  margin: 20px !important;
}

.background1 {
  background: url(../../Assets/Todo_list.svg);
  width: 40%;
  position: absolute;
  left: 0;
  margin-left: -80px;
  height: 100%;
  background-repeat: no-repeat;
}

.background2 {
  background: white;
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 300px) and (max-width: 599px) {
  .pagecenter {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .pagecenter {
    width: 75%;
  }
}
