footer {
  min-height: 8vh;
  display: flex;
  color: white;
  /* background-image: linear-gradient(#daf5ff, transparent, transparent); */
  background-color: #79b988;
  position: relative;
  top: 82.5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}
